html {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body {
  margin: 0;
  background-image: radial-gradient(rgb(1, 1, 79), black);
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 100px;
  border-radius: 50%;
}

a {
  background-color: white;
  padding: 8px;
  border-radius: 50%;
}

a:hover {
  background-color: black;
  color: white;
}

footer {
  padding: 16px;
}